configuration: TestsWithFake

before_build:
- nuget restore

build:
  verbosity: minimal
  
notifications:
- provider: Email
  to:
  - gennady.verdel@logoui.co.il
  - david@logoui.co.il
  - dmitry.bublik@logoui.co.il
  on_build_success: false
  on_build_failure: false
  on_build_status_changed: true
  
 os: Visual Studio 2017
 install:
 - set PATH=C:Program Files (x86)\MSBuild\15.0\Bin;%PATH%
  
  