<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LogoFX.Client.Core.Core" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.Model" version="1.1.1-rc4" targetFramework="net461" />
  <package id="LogoFX.Core" version="1.1.1-rc2" targetFramework="net461" />
  <package id="Solid.Patterns.Memento" version="1.2.1-rc2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
</packages>